# This is a basic workflow to help you get started with Actions

name: Q6

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # temp.txt DEVRAIT se créer, mais ni cp, ni echo ne créent le fichier : erreur débile qui n'est jamais arrivé dans l'histoire entière de BASH 
      - name: teste creation nouveau fichier
        run: | 
          echo "aba" > temp.txt
          cp Q6_archive_date.txt temp.txt
          echo "CHAMPVILLARD SÉBASTIEN" > Q6_archive_date.txt
          date +%d-%m-%Y >> Q6_archive_date.txt
          cat Q6.java >> Q6_archive_date.txt
          diff --suppress-common-lines Q6_archive_date.txt temp.txt
        
        # push
      - name: commmit et push
        run: |
          git config --global user.name sebeaty
          git config --global user.email sebachamp007@outlook.fr
          git add Q6_archive_date.txt
          git commit -m "test push de Q6_archive_date.txt
          git push
